{% extends 'layout/basic.html' %}

{% block title %}
Данный токен не существует
{% endblock title %}

{% block area %}
<div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Активация не прошла</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock area %}


{% block content %}
<div class="container">
Данная ссылка активации устарела
</div>

{% endblock content %}