{% extends 'layout/basic.html' %}


{% block title %}Регистрация на сайте{% endblock title %}

{% block area %}
<div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Регистрация на сайте</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock area %}



{% block content %}
<div class="container-fluid">
<form method='post' class='pt-3' enctype='multipart/form-data'>
                            {% csrf_token %}
                               {{ form.as_p }} 
                        <div class="reset_btn mb-3 mt-3 text-center">
                            <button  class="boxed-btn3" type="submit">Зарегестрироваться</button>
                        </div>
                            </form>
</div>



{% endblock content %}

