{% extends 'layout/basic.html' %}

{% block title %}Данный пользователь уже активирован{% endblock title %}

{% block area %}
<div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Данный пользователь уже активирован</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock area %}


{% block content %}
<div class="content">
<div class="alert alert-danger" role="alert">
Данный пользователь уже активирован
</div>
    
</div>


{% endblock content %}